include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include skyway *.css
recursive-include skyway *.csv
recursive-include skyway *.html
recursive-include skyway *.ico
recursive-include skyway *.js
recursive-include skyway *.json
recursive-include skyway *.md
recursive-include skyway *.png
recursive-include skyway *.py
recursive-include skyway *.svg
recursive-include skyway *.txt
recursive-exclude skyway *.pyc